/* app css stylesheet */

body {
    background-color: #fff;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}

body {
    margin: 0;
}

*:focus {
    outline: none;
}

*::-moz-focus-inner {
    border: none;
}

.main-container {
    margin: 5px auto;
    padding: 10px;
}

/** navigator and logo **/
.site-top-div {
    border-bottom: 1px solid #dedede;
    /*box-shadow: 0px 0px 5px #dedede;*/
    /*-moz-box-shadow: 0 0 5px #dedede;*/
    /*-webkit-box-shadow: 0 0 5px #dedede;*/
    min-width: 900px;
}

.logo-div {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
}

.nav-menu-div {
    background-color: #ffffff;
    float: left;
    margin-left: 100px;
    margin-right: 300px;
}

.nav-menu-right {
    margin-right: 200px;
    float: right;
}

.user_login_div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-logo {
    background-color: white;
}

.nav > li:hover {
    opacity: 0.8;
}

#nav_menu li > a {
    margin-right: 3px;
    color: #003766;
    font-size: 16px;
}

#nav_menu li > a:hover {
    background-color: #3399cc !important;
    color: #ffffff;

}

#nav_menu > li > a:focus {
    background-color: #3399cc;
    text-decoration: none;
    outline: medium none;
    color: #ffffff;
}

#nav_menu > li > a.active {
    color: #ffffff;
    background-color: #3399cc;
    text-decoration: none;
    outline: medium none;
}

#nav_menu li > a:hover {
    background-color: #3399cc !important;
    color: #ffffff;

}

#user_menu li > a {
    margin-right: 3px;
    color: #003766;
}

#user_menu li > a:hover {
    background-color: #3399cc !important;
    color: #ffffff;
}

#user_menu > li > a:focus {
    background-color: #3399cc;
    text-decoration: none;
    outline: medium none;
    color: #ffffff;
}

#user_menu > li > a.active {
    color: #ffffff;
    background-color: #3399cc;
    text-decoration: none;
    outline: medium none;
}

#user_menu li > a:hover {
    background-color: #3399cc !important;
    color: #ffffff;

}

/** end of nav **/

.navbar-title-div {
    border: 0px solid #e1e1e8;
    margin-left: 115px;
    margin-right: 115px;
    margin-bottom: 5px;
    color: #7e7d83;
}

.navbar-title-div > a:hover {
    color: #003766 !important;
}

.navbar-inline {
    display: inline;
    float: left;
    margin-right: 5px;
    line-height: 25px;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 5px;
}

.navbar-inline a:link, .navbar-inline a:visited {
    color: #4d5a6d !important;
}

.navbar-inline a:focus {
    outline: medium none;
    text-decoration: none;
}

.dropdown-menu li > a {
    margin-right: 3px;
    color: #003766;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #3399cc !important;
    background-image: none !important;
    background-repeat: repeat-x;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #3399cc !important;
    background-image: none !important;
    background-repeat: repeat-x;
}

.display-body {
    border: 1px solid #e1e1e8;
    padding: 15px;
    box-shadow: 0px 0px 5px #f2f2f2;
    -moz-box-shadow: 0 0 5px #f2f2f2;
    -webkit-box-shadow: 0 0 5px #f2f2f2;
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin-left: 100px;
    margin-right: 100px;
}

.help-icon-sp {
    cursor: pointer;
}

.remove-icon {
    cursor: pointer;
}

img.help-icon {
    height: 18px;
    width: 18px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 3px;
}

.modal-backdrop.in {
    opacity: 0;
}

.modal-dialog {
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -300px;
    width: 540px;
}

.modal-header {
    border-bottom: 1px solid #ffffff;
    padding: 8px;
}

.modal-body-outer {
    border: solid 1px #f2f2f2;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: justify;
    padding: 5px;
    margin: 8px;
}

.mbtn {
    -moz-user-select: none;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.border_div {
    padding: 10px;
    border: 1px solid #f2f2f2;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
}

.remove_div {
    padding-top: 10%;
}

.btn-default {
    background-color: #fff;
    border-color: #f2f2f2;
    color: #333;
}

.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.display_data_tab {
    width: 100%;
    text-align: left;
    border: solid 1px #ddd;
    border-collapse: collapse;
}

.display_data_tab th {
    border: solid 1px #ddd;
    padding: 8px;
    color: #003766 !important;
    font-weight: normal !important;
}

.display_data_tab td {
    border: solid 1px #ddd;
    padding: 8px;
}

.data_tab {
    width: 100%;
    text-align: left;
    border: solid 1px #ddd;
    border-collapse: collapse;
}

.data_tab th {
    border: solid 1px #ddd;
    padding: 8px;
    background-color: #f0f0f0 !important;
    font-weight: normal !important;
}

.data_tab td {
    border: solid 1px #ddd;
    padding: 8px;
}

.m_title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 16px !important;
}

.sub_title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

.display_separator {
    border-bottom: solid 1px #F2F2F2;
    margin-top: 10px;
    margin-bottom: 5px;
}

.blank_separator {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10px;
}

.center_div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: thin dotted;
    outline-offset: -2px;
}

.btn:hover, .btn:focus {
    color: #333;
    text-decoration: none;
}

.btn:active, .btn.active {
    background-image: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12) inset;
    outline: 0 none;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none;
}

.btn-default {
    background-color: #fff;
    border-color: #dedede;
    color: #333;
}

table {
    background-color: transparent;
}

th {
    text-align: left;
    background: #f2f2f2 none repeat scroll 0 0;
}

.table {
    max-width: 100%;
    width: 100%;
}

.medium_width {
    width: 358px;
}

.panel-default{
    box-shadow: 0px 0px 10px #cbcbcb;
    -moz-box-shadow: 0 0 10px #cbcbcb;
    -webkit-box-shadow: 0 0 10px #cbcbcb;
}
.panel-default > .panel-heading {
    background-color: #f1f1f1 !important;
    background-image: none !important;
    border-color: #ddd;
    color: #000 !important;
}

.panel-line {
    border-bottom: solid 1px #ddd;
    margin-top: 15px;
    margin-bottom: 5px;
}

.panel-footer {
    background-color: #f1f1f1 !important;
}

.panel-left{
    text-align: justify;
}

.footer {
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    margin-top: 30px;
    padding: 30px 0;
    text-align: center;
}

.footer p {
    color: #777;
    margin-bottom: 0;
}

.footer-links {
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    padding: 0 2px;
}

.footer-links li:first-child {
    padding-left: 0;
}

.muted {
    color: #999999;
}

a.muted:hover, a.muted:focus {
    color: #808080;
}

.quick-btn {
    box-shadow: 0 0 0 1px #f8f8f8 inset, 0 0 0 1px #cccccc;
    color: #444444;
    display: inline;
    float: left;
    height: 80px;
    width: 120px;
    margin: 10px;
    padding: 5px;
    padding-top: 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    font-size: 12px !important;
}

.quick-btn span {
    display: block;
}

.quick-btn .label {
    position: absolute;
    right: -5px;
    top: -5px;
}

.quick-btn:hover {
    background-color: #3399cc !important;
    background-image: none !important;
    background-repeat: repeat-x;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.quick-btn.active {
    background-color: #f2f2f2;
    color: #003766;
    text-decoration: none;
    cursor: pointer;
}

.quick-btn.small {
    height: 30px;
    padding-top: 6px;
    width: 40px;
}

.alert1 {
    box-shadow: 0px 0px 5px #c3c3c3;
    -moz-box-shadow: 0 0 5px #c3c3c3;
    -webkit-box-shadow: 0 0 5px #c3c3c3;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #f2f2f2;
}

.alert-success1 {
    background-color: #FFFFFF !important;
    background-repeat: repeat-x;
    border-color: #b2dba1;
}

.alert-danger1 {
    background-color: #FFFFFF !important;
    background-repeat: repeat-x;
    /*border-color: #dca7a7;*/
    color: #c9302c;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}
.error-details{
    color: #a94442;
    background-color: #FFFFFF !important;
    border-color: #dca7a7;

}

.error-actions {
    margin-bottom: 15px;
    margin-top: 15px;
}
.error-actions .btn {
    margin-right: 10px;
}
