 <div class="row">
        <div class="col-md-12">
            <span class="alert-info"> <strong>Info: </strong></span>Required fields are marked with an
            <i class="glyphicon glyphicon-asterisk text-primary"></i>
            sign
        </div>
    </div>
    <div>&nbsp;</div>
    <form name="contact_form" novalidate>


        <div class="form-group" ng-class="{'has-error': vm.contact_form_errors['title_status']}">
            <label for="title">
                Title <i class="glyphicon glyphicon-asterisk text-primary"></i>
            </label>
            <input type="text" class="form-control" id="title"
                   placeholder="Please enter contact's Title here"
                   ng-model="vm.contact.title"/>
            <span class="help-block" ng-show="vm.contact_form_errors['title_status']">{{ vm.contact_form_errors['title_message'] }}</span>

        </div>


        <div class="form-group" ng-class="{'has-error': vm.contact_form_errors['given_name_status']}">
            <label for="given_name">
                Given Name <i class="glyphicon glyphicon-asterisk text-primary"></i>
            </label>
            <input type="text" class="form-control" id="given_name"
                   ng-model="vm.contact.given_name"/>
            <span class="help-block" ng-show="vm.contact_form_errors['given_name_status']">{{ vm.contact_form_errors['given_name_message'] }}</span>
        </div>


        <div class="form-group" ng-class="{'has-error': vm.contact_form_errors['surname_status']}">
            <label for="surname">
                Surname <i class="glyphicon glyphicon-asterisk text-primary"></i>
            </label>
            <input type="text" class="form-control" id="surname"
                   ng-model="vm.contact.surname"/>
            <span class="help-block" ng-show="vm.contact_form_errors['surname_status']">{{ vm.contact_form_errors['surname_message'] }}</span>
        </div>


        <div class="form-group" ng-class="{'has-error': vm.contact_form_errors['email_status']}">
            <label for="email">
                Institutional email address <i class="glyphicon glyphicon-asterisk text-primary"></i>
            </label>
            <input type="email" class="form-control" id="email"
                   ng-model="vm.contact.email"/>
            <span class="help-block" ng-show="vm.contact_form_errors['email_status']">{{ vm.contact_form_errors['email_message'] }}</span>
        </div>


        <div class="form-group" ng-class="{'has-error': vm.contact_form_errors['phone_status']}">
            <label for="phone">
                Phone <i class="glyphicon glyphicon-asterisk text-primary"></i>
            </label>
            <input type="text" class="form-control" id="phone"
                   ng-model="vm.contact.phone"/>
            <span class="help-block" ng-show="vm.contact_form_errors['phone_status']">{{ vm.contact_form_errors['phone_message'] }}</span>
        </div>


        <div class="form-group" ng-class="{'has-error': vm.contact_form_errors['organisation_status']}">
            <label for="organisation">
                Institution <i class="glyphicon glyphicon-asterisk text-primary"></i>
            </label>
            <input type="text" class="form-control" id="organisation"
                   ng-model="vm.contact.organisation"/>
            <span class="help-block" ng-show="vm.contact_form_errors['organisation_status']">{{ vm.contact_form_errors['organisation_message'] }}</span>
        </div>


        <button type="button" class="btn bg-primary"
                ng-click="vm.createNewContact(vm.contact)">
            Create
        </button>


    </form>
</div>
