<div class="row">
    <div class="col-md-5">
        <label>
            {{ vm.authorityQuestion.question}}
            <span>
                <i class="glyphicon glyphicon-asterisk text-primary"></i>
            </span>
        </label>

        <div class="form-group" ng-class="{'has-error': vm.authority_question_invalid}">
            <select class="form-control" id="id-vn_authority_question" name="authority"
                    ng-model="vm.project.requests[0].request_question_responses[0].question_response"
                    ng-options="value as value for (key,value) in vm.authorityQuestion.choices" required>
                <option value="">--- Select ---</option>
            </select>
            <span class="help-block" ng-show="vm.authority_question_invalid">Required field</span>
        </div>
    </div>

</div>