<h3>User Interface</h3>
<div class="row">
    <div class="col-md-5">
        <label>
            {{ vm.accessMethodQuestion.question}}
            <span>
                <i class="glyphicon glyphicon-asterisk text-primary"></i>
            </span>
        </label>

        <div class="form-group" ng-class="{'has-error': vm.access_method_invalid}">
            <input type="text" class="form-control" name="access_method"
                   ng-model="vm.project.requests[0].request_question_responses[3].question_response"
                   required/>
            <span class="help-block" ng-show="vm.access_method_invalid">Required field</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <label>
            {{ vm.preferAccessMethodQuestion.question}}
            <span>
                <i class="glyphicon glyphicon-asterisk text-primary"></i>
            </span>
        </label>

        <div class="form-group" ng-class="{'has-error': vm.prefer_access_method_invalid}">
            <input type="text" class="form-control" name="prefer_access_method"
                   ng-model="vm.project.requests[0].request_question_responses[4].question_response"
                   required/>
            <span class="help-block" ng-show="vm.prefer_access_method_invalid">Required field</span>
        </div>
    </div>

</div>