<div class="center_div">
    <div class="loading_div" ng-show="!vm.loaded">
        <img style="display:block; margin:0 auto;" src="images/page-loader.gif">
        <div class="loading_text">Loading ...</div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="display_data_tab" ng-show="vm.nc_projects.length > 0">
            <thead>
            <tr>
                <th width="10%">Name</th>
                <th width="10%">Status</th>
                <th width="30%">Resources</th>
                <th width="10%">Expiry</th>
                <th width="25%">Funding</th>
                <th width="15%">Actions</th>
            </tr>
            </thead>
            <tbody ng-repeat="project in vm.nc_projects">
            <tr ng-repeat="req in project.requests">
                <td><a href="#/{{ nav.first_path }}/view_request/{{req.id}}">{{project.title}}</a>
                </td>
                <td>
                    {{req.status}}
                    <provision-details projectid="{{ project.id }}" project="project"></provision-details>
                </td>
                <td>
                    <div class="row" ng-repeat="compute_req in req.compute_requests">
                        <div class="col-md-12">
                            {{compute_req.compute_product.name}}: {{compute_req.cores}} Cores,
                            {{compute_req.core_hours}} VCPU Hours
                        </div>
                    </div>
                    <div class="row" ng-repeat="storage_req in req.storage_requests">
                        <div class="col-md-12">
                            {{storage_req.storage_product.name}}: {{storage_req.quota}} GB
                        </div>
                    </div>
                </td>
                <td>
                    {{req.expiry}}
                </td>
                <td>
                    {{req.funding}}
                </td>
                <td>
                    <a href="#/{{ nav.first_path }}/history/{{req.id}}">History</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div style="clear: both"/>


<script type="text/javascript">
    //    if(document.readyState === 'complete') {
    //        var element = document.getElementById("page-loading");
    //        alert(element);
    //        element.parentNode.removeChild(element);
    //    }
</script>
