<div class="center_div">
    <div class="loading_div" ng-show="!vm.loaded">
        <img style="display:block; margin:0 auto;" src="images/page-loader.gif">
        <div class="loading_text">Loading ...</div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="display_data_tab" ng-show="vm.nc_projects.length > 0">
            <thead>
            <tr>
                <th width="10%">Name</th>
                <th width="10%">Status</th>
                <th width="30%">Resources</th>
                <th width="10%">Expiry</th>
                <th width="25%">Funding</th>
                <th width="15%">Actions</th>
            </tr>
            </thead>
            <tbody ng-repeat="project in vm.nc_projects">
            <tr ng-repeat="req in project.requests">
                <td><a href="#/{{ nav.first_path }}/view_request/{{req.id}}">{{project.title}}</a>
                </td>
                <td>
                    {{req.status.status}}
                    <provision-details projectid="{{ project.id }}" project="project"></provision-details>
                </td>
                <td>
                    <div class="row" ng-repeat="compute_req in req.compute_requests">
                        <div class="col-md-12">
                            {{compute_req.compute_product.name}}:
                            <span ng-if="req.status.code !='N' && req.status.code !='E' && req.status.code !='X'">
                                {{compute_req.approved_instances}}
                            </span>
                            <span ng-if="req.status.code =='N' || req.status.code =='E' || req.status.code =='X'">
                                {{compute_req.instances}}
                            </span> Instances,
                            <span ng-if="req.status.code !='N' && req.status.code !='E' && req.status.code !='X'">
                                {{compute_req.approved_cores}}
                            </span>
                            <span ng-if="req.status.code =='N' || req.status.code =='E' || req.status.code =='X'">
                                {{compute_req.cores}}
                            </span> Cores,
                            <span ng-if="req.status.code !='N' && req.status.code !='E' && req.status.code !='X'">
                                {{compute_req.approved_core_hours}}
                            </span>
                            <span ng-if="req.status.code =='N' || req.status.code =='E' || req.status.code =='X'">
                                {{compute_req.core_hours}}
                            </span> VCPU Hours
                        </div>
                    </div>
                    <div class="row" ng-repeat="storage_req in req.storage_requests">
                        <div class="col-md-12">
                            {{storage_req.storage_product.name}}:
                            <span ng-if="req.status.code !='N' && req.status.code !='E' && req.status.code !='X'">
                            {{storage_req.approved_quota}}
                            </span>
                            <span ng-if="req.status.code =='N' || req.status.code =='E' || req.status.code =='X'">
                            {{storage_req.quota}}
                            </span> GB
                        </div>
                    </div>
                </td>
                <td>
                    {{req.expiry}}
                </td>
                <td>
                    {{req.funding}}
                </td>
                <td>
                    <a href="#/{{ nav.first_path }}/history/{{req.id}}">History</a>
                    <span ng-if="req.status.code =='E' || req.status.code =='X'">
                        | <a href="#/{{ nav.first_path }}/edit_request/{{project.id}}/{{req.id}}">Edit</a>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div style="clear: both"/>