<div class="row">
    <div class="col-md-12">
        <h3>Chief Investigator</h3>
        <span class="alert-info"> <strong>Note: </strong></span> For research projects specify the first investigator.
        For higher degree research projects specify the primary supervisor. For other activities specify the academic
        sponsor or head of the managing organisation unit.
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-md-6">

        <label>
            Chief Investigator <i class="glyphicon glyphicon-asterisk text-primary"></i>
        </label>

        <span ng-controller="PopupController">
            <span ng-click="showHelp()" class="help-icon-sp"><img class="help-icon" src="images/help.png"></span>
            <modal title="{{ help.chief_investigator.title }}" visible="showModal">
                <span ng-bind-html="help.chief_investigator.text"></span>
            </modal>
        </span>
        <br>
        <div ng-class="{'has-error': vm.chief_investigator_invalid}">
            <span class="help-block has-error" ng-show="vm.chief_investigator_invalid">
                 Please add a chief investigator
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="form-group" ng-repeat="proj_contact in vm.alloc.project_contacts">
            <div ng-if="proj_contact.contact_role.id == 2">
                <input type="text" name="vm.display_ci" id="id-display_ci" class="form-control"
                       value='{{(proj_contact.contact.title || "") + " " + (proj_contact.contact.given_name || "") + " " +
            (proj_contact.contact.surname || "") + " " + proj_contact.contact.email}}' readonly="readonly"
                       ng-if="proj_contact.contact.email">
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-6">
        <project-contact></project-contact>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        <div>&nbsp;</div>
        <label for="id-additional_researchers">
            Please list all other primary investigators, partner investigators and other research collaborators
        </label>

        <span ng-controller="PopupController">
            <span ng-click="showHelp()" class="help-icon-sp"><img class="help-icon" src="images/help.png"></span>
            <modal title="{{ help.additional_researchers.title }}" visible="showModal">
                <span ng-bind-html="help.additional_researchers.text"></span>
            </modal>
        </span>

        <div class="form-group">
             <textarea name="additional_researchers" id="id-additional_researchers"
                       class="form-control" rows="5" style="height:120px; width:420px"
                       ng-model="vm.alloc.project_question_responses[0].question_response">
             </textarea>
        </div>
    </div>
</div>