<div class="row">
    <div class="col-md-12">
        <h3>Compute Resources</h3>
        <span class="alert-info"> <strong>Note: </strong></span>  Specify the maximum compute infrastructure that your
            project will need access to. This quota can be extended at a later date if more resources are required.
            The overall availability of resources may vary over time and at different locations. Resource may not
            always be available.
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <label for="id-instances">
            Number Of Instances <i class="glyphicon glyphicon-asterisk text-primary"></i>
        </label>
        <span ng-controller="PopupController">
            <span ng-click="showHelp()" class="help-icon-sp"><img class="help-icon" src="images/help.png"></span>
            <modal title="{{ help.instances.title }}" visible="showModal">
                <span ng-bind-html="help.instances.text"></span>
            </modal>
        </span>

        <div class="form-group" ng-class="{'has-error': vm.instances_invalid || (vm.request_form.instances.$dirty && vm.request_form.instances.$invalid)}">
            <input type="number" min="1" name="instances" id="id-instances" class="form-control"
                   ng-model="vm.alloc.requests[0].compute_requests[0].instances" required/>
            <span class="help-block" ng-show="vm.instances_invalid || (vm.request_form.instances.$dirty && vm.request_form.instances.$invalid)">
                Please enter the maximum number of instances
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <label for="id-cores">
            Number Of Cores <i class="glyphicon glyphicon-asterisk text-primary"></i>
        </label>
        <span ng-controller="PopupController">
            <span ng-click="showHelp()" class="help-icon-sp"><img class="help-icon" src="images/help.png"></span>
            <modal title="{{ help.cores.title }}" visible="showModal">
                <span ng-bind-html="help.cores.text"></span>
            </modal>
        </span>

        <div class="form-group" ng-class="{'has-error': vm.cores_invalid || (vm.request_form.cores.$dirty && vm.request_form.cores.$invalid)}">
            <input type="number" min="1" name="cores" id="id-cores" class="form-control"
                   ng-model="vm.alloc.requests[0].compute_requests[0].cores" ng-change="vm.updateCoreHours()" required/>
            <span class="help-block" ng-show="vm.cores_invalid || (vm.request_form.cores.$dirty && vm.request_form.cores.$invalid)">
                Please enter the maximum number of cores
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <label for="id-core_hours">
            Number Of Core Hours <i class="glyphicon glyphicon-asterisk text-primary"></i>
        </label>
        <span ng-controller="PopupController">
            <span ng-click="showHelp()" class="help-icon-sp"><img class="help-icon" src="images/help.png"></span>
            <modal title="{{ help.core_hours.title }}" visible="showModal">
                <span ng-bind-html="help.core_hours.text"></span>
            </modal>
        </span>

        <div class="form-group" ng-class="{'has-error': vm.core_hours_invalid || (vm.request_form.core_hours.$dirty && vm.request_form.core_hours.$invalid)}">
            <input type="number" min="1" name="core_hours" id="id-core_hours" class="form-control"
                   ng-model="vm.alloc.requests[0].compute_requests[0].core_hours" required/>
            <span class="help-block" ng-show="vm.core_hours_invalid || (vm.request_form.core_hours.$dirty && vm.request_form.core_hours.$invalid)">
                Please enter the number of core hours
            </span>

        </div>
    </div>
</div>