<div class="row">
    <div class="col-md-12">
        <h3>Compute Resources</h3>
        <span class="alert-info"> <strong>Note: </strong></span> Specify the maximum compute infrastructure that your
        project will need access to. This quota can be extended at a later date if more resources are required.
        The overall availability of resources may vary over time and at different locations. Resource may not
        always be available.
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <label for="id-instances">
            Number Of Virtual Machine Instances <i class="glyphicon glyphicon-asterisk text-primary"></i>
        </label>
        <span ng-controller="PopupController">
            <span ng-click="showHelp()" class="help-icon-sp"><img class="help-icon" src="images/help.png"></span>
            <modal title="{{ help.instances.title }}" visible="showModal">
                <span ng-bind-html="help.instances.text"></span>
            </modal>
        </span>

        <div class="form-group"
             ng-class="{'has-error': vm.instances_invalid || vm.zero_instances_invalid || (vm.request_form.instances.$dirty && vm.request_form.instances.$invalid)}">
            <input type="number" min="0" name="instances" id="id-instances" class="form-control"
                   ng-model="vm.alloc.requests[0].compute_requests[0].instances"
                   ng-change="vm.checkInstanceAndCore()" required/>
            <span class="help-block"
                  ng-show="vm.instances_invalid || (vm.request_form.instances.$dirty && vm.request_form.instances.$invalid)">
                Please enter the maximum number of virtual machine instances
            </span>
            <span class="help-block"
                  ng-show="vm.zero_instances_invalid">
                Invalid, core without any virtual machine instances
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <label for="id-cores">
            Number Of Cores <i class="glyphicon glyphicon-asterisk text-primary"></i>
        </label>
        <span ng-controller="PopupController">
            <span ng-click="showHelp()" class="help-icon-sp"><img class="help-icon" src="images/help.png"></span>
            <modal title="{{ help.cores.title }}" visible="showModal">
                <span ng-bind-html="help.cores.text"></span>
            </modal>
        </span>

        <div class="form-group"
             ng-class="{'has-error': vm.cores_invalid || vm.cores_less_invalid || (vm.request_form.cores.$dirty && vm.request_form.cores.$invalid)}">
            <input type="number" min="0" name="cores" id="id-cores" class="form-control"
                   ng-model="vm.alloc.requests[0].compute_requests[0].cores" ng-change="vm.updateCoreHours()" required/>
            <span class="help-block"
                  ng-show="vm.cores_invalid || (vm.request_form.cores.$dirty && vm.request_form.cores.$invalid)">
                Please enter the maximum number of cores
            </span>
            <span class="help-block" ng-show="vm.cores_less_invalid">
                Cores must be equal or great than instances
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <label for="id-core_hours">
            Number Of Core Hours <i class="glyphicon glyphicon-asterisk text-primary"></i>
        </label>
        <span ng-controller="PopupController">
            <span ng-click="showHelp()" class="help-icon-sp"><img class="help-icon" src="images/help.png"></span>
            <modal title="{{ help.core_hours.title }}" visible="showModal">
                <span ng-bind-html="help.core_hours.text"></span>
            </modal>
        </span>

        <div class="form-group"
             ng-class="{'has-error': (vm.core_hours_invalid || vm.zero_core_hour_invalid || vm.non_zero_core_hours_invalid
             || (vm.request_form.core_hours.$dirty && vm.request_form.core_hours.$invalid))}">
            <input type="number" min="0" name="core_hours" id="id-core_hours" class="form-control"
                   ng-model="vm.alloc.requests[0].compute_requests[0].core_hours"
                   ng-change="vm.checkInstanceAndCore()" required/>
            <span class="help-block"
                  ng-show="vm.core_hours_invalid || (vm.request_form.core_hours.$dirty && vm.request_form.core_hours.$invalid)">
                Please enter the number of core hours
            </span>
            <span class="help-block" ng-show="vm.zero_core_hour_invalid">
                 Invalid,  can't be zero core hour
            </span>
            <span class="help-block" ng-show="vm.non_zero_core_hours_invalid">
                 Invalid, must be zero core hour
            </span>
        </div>
    </div>
</div>