<div class="row">
    <div class="col-md-12">
        <h3>Chief Investigator</h3>
        <span class="alert-info"> <strong>Note: </strong></span> For research projects specify the first chief
        investigator. For higher degree research projects specify the primary supervisor.
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <label for="id-contact_title">
            Title <i class="glyphicon glyphicon-asterisk text-primary"></i>
        </label>
        <span ng-controller="PopupController">
            <span ng-click="showHelp()" class="help-icon-sp"><img class="help-icon" src="images/help.png"></span>
            <modal title="{{ help.contact_title.title }}" visible="showModal">
                <span ng-bind-html="help.contact_title.text"></span>
            </modal>
        </span>

        <div class="form-group" ng-class="{'has-error': vm.contact_title_invalid}">
            <input type="text" name="contact_title" id="id-contact_title" class="form-control"
                   ng-model="vm.alloc.project.contacts[0].title" required/>
            <span class="help-block" ng-show="vm.contact_title_invalid">
                Please enter the chief investigator's title
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <label for="id-contact_given_name">
            Given Name <i class="glyphicon glyphicon-asterisk text-primary"></i>
        </label>
        <span ng-controller="PopupController">
            <span ng-click="showHelp()" class="help-icon-sp"><img class="help-icon" src="images/help.png"></span>
            <modal title="{{ help.contact_given_name.title }}" visible="showModal">
                <span ng-bind-html="help.contact_given_name.text"></span>
            </modal>
        </span>

        <div class="form-group" ng-class="{'has-error': vm.contact_given_name_invalid}">
            <input type="text" name="contact_given_name" id="id-contact_given_name" class="form-control"
                   ng-model="vm.alloc.project.contacts[0].given_name" required/>
            <span class="help-block" ng-show="vm.contact_given_name_invalid">
                Please enter given name
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <label for="id-contact_surname">
            Surname <i class="glyphicon glyphicon-asterisk text-primary"></i>
        </label>
        <span ng-controller="PopupController">
            <span ng-click="showHelp()" class="help-icon-sp"><img class="help-icon" src="images/help.png"></span>
            <modal title="{{ help.contact_surname.title }}" visible="showModal">
                <span ng-bind-html="help.contact_surname.text"></span>
            </modal>
        </span>

        <div class="form-group" ng-class="{'has-error': vm.contact_surname_invalid}">
            <input type="text" name="contact_surname" id="id-contact_surname" class="form-control"
                   ng-model="vm.alloc.project.contacts[0].surname" required/>
            <span class="help-block" ng-show="vm.contact_surname_invalid">
                Please enter surname
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <label for="id-contact_email">
            Institutional email address <i class="glyphicon glyphicon-asterisk text-primary"></i>
        </label>
        <span ng-controller="PopupController">
            <span ng-click="showHelp()" class="help-icon-sp"><img class="help-icon" src="images/help.png"></span>
            <modal title="{{ help.contact_email.title }}" visible="showModal">
                <span ng-bind-html="help.contact_email.text"></span>
            </modal>
        </span>

        <div class="form-group" ng-class="{'has-error': vm.contact_email_invalid}">
            <input type="email" name="contact_email" id="id-contact_email" class="form-control"
                   ng-model="vm.alloc.project.contacts[0].email" required/>
            <span class="help-block" ng-show="vm.contact_email_invalid">
                Please enter the chief investigator's email
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label for="id-contact_phone">
            Phone <i class="glyphicon glyphicon-asterisk text-primary"></i>
        </label>
        <span ng-controller="PopupController">
            <span ng-click="showHelp()" class="help-icon-sp"><img class="help-icon" src="images/help.png"></span>
            <modal title="{{ help.contact_phone.title }}" visible="showModal">
                <span ng-bind-html="help.contact_phone.text"></span>
            </modal>
        </span>

        <div class="form-group" ng-class="{'has-error': vm.contact_phone_invalid}">
            <input type="text" name="contact_phone" id="id-contact_phone" class="form-control"
                   ng-model="vm.alloc.project.contacts[0].phone" required/>
            <span class="help-block" ng-show="vm.contact_phone_invalid">
                Please enter the chief investigator's phone number
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label for="id-contact_organisation">
            Institution <i class="glyphicon glyphicon-asterisk text-primary"></i>
        </label>
        <span ng-controller="PopupController">
            <span ng-click="showHelp()" class="help-icon-sp"><img class="help-icon" src="images/help.png"></span>
            <modal title="{{ help.contact_organisation.title }}" visible="showModal">
                <span ng-bind-html="help.contact_organisation.text"></span>
            </modal>
        </span>

        <div class="form-group" ng-class="{'has-error': vm.contact_organisation_invalid}">
            <input type="text" name="contact_organisation" id="id-contact_organisation" class="form-control"
                   ng-model="vm.alloc.project.contacts[0].organisation" required/>
            <span class="help-block" ng-show="vm.contact_organisation_invalid">
                Please enter the institution of the chief investigator
            </span>
        </div>
    </div>
</div>

