<div class="ngdialog-message">

    <!-- Show this block if search results found -->

    <div ng-if="ngDialogData.length > 0">
        <h3>{{ngDialogData.length + " contacts found."}}</h3><br/>

                            <span data-ng-repeat="contact in ngDialogData">
                                <label>
                                    <input type="radio"
                                           name="contact.email"
                                           ng-model="vm.selected_contact_email"
                                           value="{{contact.email}}"
                                           ng-change="vm.setContact(contact)">

                                    {{(contact.title || "") + " " + (contact.given_name || "") + " " + (contact.surname || "") + " (" +
                                    contact.email + ")"}}
                                </label><br/>
                            </span>

        <button type="button" class="btn bg-primary" ng-click="closeThisDialog()">
            Select
        </button>

    </div>


    <!-- Show this block instead if no search results -->
    <div ng-if="ngDialogData.length == 0">
        <h3>No contacts found</h3><br/>
    </div>

    <button ng-if="!vm.showingCreateContactDialog" type="button" class="btn bg-primary" ng-click="vm.showCreateContactDialog();">
        New Contact
    </button>
    <span ng-if="vm.showingCreateContactDialog">
        <crams-create-contact-form parent-dialog="vm.dialogHandler"></crams-create-contact-form>
    </span>


</div>