<div ng-include="'templates/site_header.html'"></div>
<div class="main-container">
    <div ng-controller="NavController" ng-include="'templates/nav_title_bar.html'" ng-class="{ active: isCurrentPath('/login') }"></div>
    <div style="clear:both"></div>
    <div class="display-body">
        <div ng-include="'templates/error_display.html'"></div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Enter your user name and password
                    </div>
                    <div class="panel-body" ng-controller="CRAMSLoginController as loginCtr">
                        <form class="col-md-12 form-horizontal" ng-submit="loginCtr.login()">
                            <div class="form-group">
                                <div class="col-md-6">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_userName" class="col-sm-3 control-label">User Name</label>

                                <div class="col-md-6">
                                    <input class="form-control" type="text" name="username"  id="id_userName"
                                           ng-model="loginCtr.user.username" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_password" class="col-sm-3 control-label">Password</label>

                                <div class="col-md-6">
                                    <input class="form-control" type="password" name="password" id="id_password"
                                           ng-model="loginCtr.user.password" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <button class="btn btn-primary">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
    </div>
</div>
<div ng-include="'templates/site_footer.html'"></div>

