<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <a href="#/allocations/nectar_request">
                <input class="btn btn-default" type="button" value="New NeCTAR Allocation">
            </a>
            <!--
            <a href="#/allocations/vicnode_request">
                <input class="btn btn-default" type="button" value="New VicNode Allocation">
            </a>
            -->
        </div>
    </div>
</div>
<div class="display_separator"/>