<div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <input class="btn btn-default" type="button" value="Add / Change Chief Investigator"
                       ng-click="vm.addOrChangeContact()">
            </div>
        </div>
    </div>

    <div class="provision_details">
        <div class="mp_details_section">
            <div class="mp_body_div" ng-show="vm.contact_popup_opened">
                <div class="mp_header">
                    <div class="mp_title">Chief Investigator</div>
                    <div class="mp_close" ng-click="vm.addOrChangeContact()" title="Close"></div>
                </div>
                <div class="mp_content">
                    <div class="mp_content_noborder">
                        <div class="form-group ">
                            <div class="input-group">
                                <input type="text" class="form-control" id="id-project_contact" name="search_contact"
                                       placeholder="Search CI by e-Mail or name here."
                                       ng-model="vm.search_contact"
                                       ng-change="vm.findProjectContacts()"/>
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="mp_content_noborder">
                        <div class="mp_details_section">
                            <div ng-repeat="contact in vm.found_contacts">
                                <div class="line_separator"></div>
                                <input type="radio"
                                       name="contact.email"
                                       ng-model="vm.selected_contact_email"
                                       value="{{contact.email}}" ng-change="vm.updateContact(contact)"/>
                                {{(contact.title || "") + " " + (contact.given_name || "") + " " + (contact.surname ||
                                "") +
                                " (" + contact.email + ")"}}

                            </div>

                            <div ng-if="vm.found_contacts.length == 0 && vm.contact_searched">
                                <b>No contacts found</b>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mp_content">
                    <div class="mp_content_noborder">
                        <button type="button" class="btn bg-primary" ng-click="vm.newContactForm()"> New Chief
                            Investigator
                        </button>
                    </div>
                    <div ng-if="vm.show_new_contact">
                        <div class="mp_content_noborder">
                            <span class="alert-info"> <strong>Info: </strong></span>Required fields are marked with
                            a <i class="glyphicon glyphicon-asterisk text-primary"></i> sign
                        </div>
                        <br/>
                        <div style="clear: both"></div>
                        <div class="mp_content_inner">
                            <form name="contact_form" novalidate>
                                <div class="form-group"
                                     ng-class="{'has-error': vm.contact_form_errors['title_status']}">
                                    <label for="title">
                                        Title
                                    </label>
                                    <input type="text" class="form-control" id="title" ng-model="vm.contact.title"/>
                                    <span class="help-block" ng-show="vm.contact_form_errors['title_status']">
                                    {{ vm.contact_form_errors['title_message'] }}
                                </span>
                                </div>

                                <div class="form-group"
                                     ng-class="{'has-error': vm.contact_form_errors['given_name_status']}">
                                    <label for="given_name">
                                        Given Name
                                    </label>
                                    <input type="text" class="form-control" id="given_name"
                                           ng-model="vm.contact.given_name"/>
                                    <span class="help-block" ng-show="vm.contact_form_errors['given_name_status']">
                                    {{ vm.contact_form_errors['given_name_message'] }}
                                </span>
                                </div>

                                <div class="form-group"
                                     ng-class="{'has-error': vm.contact_form_errors['surname_status']}">
                                    <label for="surname">
                                        Surname
                                    </label>
                                    <input type="text" class="form-control" id="surname"
                                           ng-model="vm.contact.surname"/>
                                    <span class="help-block" ng-show="vm.contact_form_errors['surname_status']">
                                    {{ vm.contact_form_errors['surname_message'] }}
                                </span>
                                </div>

                                <div class="form-group"
                                     ng-class="{'has-error': vm.contact_form_errors['email_status']}">
                                    <label for="email">
                                        Institutional email address <i
                                            class="glyphicon glyphicon-asterisk text-primary"></i>
                                    </label>
                                    <input type="email" class="form-control" id="email" ng-model="vm.contact.email"/>
                                    <span class="help-block" ng-show="vm.contact_form_errors['email_status']">
                                    {{ vm.contact_form_errors['email_message'] }}
                                </span>
                                </div>

                                <div class="form-group"
                                     ng-class="{'has-error': vm.contact_form_errors['phone_status']}">
                                    <label for="phone">
                                        Phone
                                    </label>
                                    <input type="text" class="form-control" id="phone" ng-model="vm.contact.phone"/>
                                    <span class="help-block" ng-show="vm.contact_form_errors['phone_status']">
                                    {{ vm.contact_form_errors['phone_message'] }}
                                </span>
                                </div>

                                <div class="form-group"
                                     ng-class="{'has-error': vm.contact_form_errors['organisation_status']}">
                                    <label for="organisation">
                                        Institution
                                    </label>
                                    <input type="text" class="form-control" id="organisation"
                                           ng-model="vm.contact.organisation"/>
                                    <span class="help-block" ng-show="vm.contact_form_errors['organisation_status']">
                                    {{ vm.contact_form_errors['organisation_message'] }}
                                </span>
                                </div>

                                <button type="button" class="btn bg-primary" ng-click="vm.newContact(vm.contact)">
                                    Create
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="mp_footer">
                    &nbsp;&nbsp;
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>