<div class="row">
    <div class="col-md-12">
        <h3>Publication/Output</h3>
        <span class="alert-info"> <strong>Note: </strong></span> List citations of any related research outputs,
        including traditional publications and non-traditional outputs.
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div ng-show="vm.alloc.publications.length !=0 ">
            <label>
                Publication/Output <i class="glyphicon glyphicon-asterisk text-primary"></i>
            </label>
            <span ng-controller="PopupController">
                <span ng-click="showHelp()" class="help-icon-sp"><img class="help-icon" src="images/help.png"></span>
                <modal title="{{ help.publication.title }}" visible="showModal">
                    <span ng-bind-html="help.publication.text"></span>
                </modal>
            </span>
        </div>
        <div ng-class="{'has-error': vm.pubForm_publication_invalid}">
            <span class="help-block has-error" ng-show="vm.pubForm_publication_invalid">
                Please enter publication/output
            </span>
        </div>

        <div ng-repeat="pub in vm.alloc.publications track by $index"
             ng-class="{'has-error': pubForm.reference.$dirty && pubForm.reference.$invalid}">
            <ng-form name="pubForm">
                <span class="input-append">
                    <input type="text" name="reference" ng-model="pub.reference" class="form-control"
                           style="float:left;width: 74%" ng-change="vm.resetPubInvalidFlag()" required/> &nbsp;&nbsp;
                        <button class="mbtn" ng-click="vm.removePublication($index)" type="button" title="Remove">
                            <i class="remove-icon glyphicon glyphicon-remove text-danger"></i>
                        </button>
                </span>
                <span class="help-block" ng-show="pubForm.reference.$dirty && pubForm.reference.$invalid">
                    <br/>Please enter publication/output
                </span>

                <div style="clear: both"/>
                <br/>
            </ng-form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <input class="btn btn-default" type="button" value="Add publication" ng-click="vm.addPublication($event)">
        </div>
    </div>
</div>


