<!-- insert template for question dropdown widget here -->
<div class="row">
    <div class="col-md-5">
        <label>
            {{ vm.questionModel.question_prompt }}
            <span ng-if="!vm.questionModel.optional">
                <i class="glyphicon glyphicon-asterisk text-primary"></i>
            </span>
        </label>

        <div class="form-group" ng-class="{'has-error': vm.question_invalid}">
            <select class="form-control" ng-model="vm.question_response"
                    ng-blur="vm.setQuestionResponse(vm.question_response)"
                    ng-value="vm.setQuestionResponse(vm.question_response)"
                    ng-options="value as value for (key,value) in vm.questionModel.valid_choices"
                    required>
                <option value="">--- Select ---</option>
            </select>
            <span class="help-block" ng-show="vm.question_invalid">Required field</span>
        </div>
    </div>

</div>