<div class="site-top-div">
    <div class="logo-div">
        <div class="row">
            <div class="col-md-4 col-sm-3 col-xs-12">
                <div class="navbar-logo ">
                    <a class="" href="#/"><img class="img-responsive image_brand" src="images/nectar-logo.png"></a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="nav-menu-div" ng-controller="NavController">
            <ul class="nav navbar-nav" id="nav_menu">
                <li>
                    <a href="#/allocations" ng-class="{ active: isCurrentPath('/allocations') }">
                        <i class="fa fa-tasks"></i> My Allocations
                    </a>
                </li>
                <li ng-if="globals.isApprover">
                    <a href="#/approval" ng-class="{ active: isCurrentPath('/approval') }">
                        <i class="fa fa-cubes"></i> Approval
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-menu-right">
            <div class="collapse navbar-collapse navbar-responsive-collapse"
                 ng-controller="AAFLoginController as loginCtr">
                <ul class="nav navbar-nav navbar-right" id="user_menu">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">{{ globals.currentUser.username }}<b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/allocations">My Allocations</a></li>
                            <li><a ng-click="loginCtr.logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div style="clear: both"/>
    </div>
</div>