<h3>Title</h3>
<p>The collection title should be as descriptive as possible so that it is meaningful to researchers from other disciplines and into the future.</p>
<div class="row">
    <div class="col-md-5">
        <label>
            Collection Title
        </label>
        <i class="glyphicon glyphicon-asterisk text-primary"></i>

        <div class="form-group" ng-class="{'has-error': vm.project_title_invalid}">
            <input type="text"  class="form-control" ng-model="vm.projectModel.title" required/>
            <span class="help-block" ng-show="vm.project_title_invalid">Required field</span>
        </div>
    </div>
</div>

<h3>Description</h3>
<p>The collection description will be used to assist discovery of your research data, and should be similar to a journal article abstract. Provide a description aimed at a reader who has general familiarity with the research area but is not a specialist. Do not use specialist acronyms or jargon. Include important keywords within the text. Please keep this description under 1000 characters if possible.</p>
<div class="row">
    <div class="col-md-5">
        <label>
            Collection Description
        </label>
        <i class="glyphicon glyphicon-asterisk text-primary"></i>

        <div class="form-group" ng-class="{'has-error': vm.project_description_invalid}">
            <input type="textarea"  class="form-control" ng-model="vm.projectModel.description" required/>
            <span class="help-block" ng-show="vm.project_description_invalid">Required field</span>
        </div>
    </div>
</div>